@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background: #F4F3F1;
    margin: 0 auto;
    height: 100%;
}

.clear{
    clear: both;
}

.center{
    max-width: 1280px;
    margin: 0 auto;    
}

/*============CABEÇALHO============*/
header{
    background-color: #EFE5DB;
    color: white;
    margin: 0 auto;
}

.topo{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    
}

.logo, .menu{
    font-size: 3rem;
    margin-left: 50px;
    padding: 15px;
}

.menu{
    cursor: pointer;
}

/*============BACKGROUND-IMAGE/ PRIMEIRA SECAO============*/

.primeiro {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-image: url(../imagem/bdy-background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: end;
    align-items: end;
    background-position: bottom left;

}

.primeiro .secao-se{
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    margin: 0 100px 50px 0;
    padding: 20px 60px 40px 60px;
    
}

.primeiro .secao-se h1{
    font-size: 3rem;
}

.primeiro .secao-se p{
    font-size: 2.5rem;
    
}

/*============SEGUNDA SECAO============*/

.segundo{ 
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display:flex;
    align-content: center;
    justify-content: center;
    padding: 100px 0;
}

.segundo .secao{
    border: 2px solid rgba(0, 0, 0, 0.89);
    height: auto;
    font-size: 2.5rem;
    width: 33.3%;
    line-height: 1.2;
    margin: 0 2%;
    padding: 50px 0 0px 15px;
}

.segundo .secao2, .secao3{
    font-size: 20px;
    line-height: 1.2;
    width: 20.3%;
    height: auto;
    margin: 0 2%;
}

/*============TERCEIRA SECAO============*/

.terceiro{
    width: 100%;
	max-width: 1200px;
	padding-bottom: 100px;
	margin: 0 auto;
    display: flex;
    
}
.secao-img{
    width: 33.3%;
	padding-top: 33.3%;
	float: left;
	position: relative;
}
.terceiro .secao-img .img{
    position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    border: 6px solid #F4F3F1;
    max-height: 800px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.terceiro .p {
    font-size: 3rem;
    border: 3px solid black;
    height: 100%;
    padding: 9% 60px 9% 20px;
}  

/*============QUARTA SECAO============*/

.quarto {
    width: 100%;
    max-width: 1200px;
    background-color: #F4F3F1;
    margin: 0 auto;
}

.quarto-flex .secao-2, .secao-3, .secao-4{
    width: 33.3%;
    margin-right: 25px;
    border: 1.5px solid rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    box-shadow: -15px 15px 20px #EDD7CC;
    padding: 20px 20px;
}

.quarto h1{
    text-align: center;
    padding-bottom: 100px;
    font-size: 2.5rem;
}

.quarto-flex{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.quarto .quarto-flex h3{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.quarto .quarto-flex p{
    font-size: 1.3rem;
    line-height: 1.3;
    text-align: center;
}

.quarto .quarto-flex strong{
    font-size: 1.2rem;
}

/*============QUARTA SECAO (ICONES)============*/

.quarto .secao-2 span{
    display: grid;
    justify-content: center;
}

.quarto .secao-3 span{
    display: grid;
    justify-content: center;
}
.quarto .secao-4 span{
    display: grid;
    justify-content: center;
}


.svg{
    width: 90px;
}

.svg2{
    width: 80px;
    padding-bottom: 10px;
}

.svg3{
    width: 60px;
    padding-bottom: 10px;
}


/*============QUINTO SECAO============*/
.quinto {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.quinto .secao{
    border: 3px solid black;
    height: 100%;
    padding: 6% 0 6% 2%;
    font-size: 1.3rem;
}

.container{
    width: 100%;
	max-width: 900px;
	padding: 30px 0;
	margin: 20px auto;
}

.img-wraper{
    width: 33.3%;
	padding-top: calc(33.3% / 1.4);
	float: left;
	position: relative;
}



.img-wraper .img{
    background-image: url(imagem/secao_quinto/secao-quinto1.jpg);
    position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


/*============SEXTO SECAO============*/

.sexto{
    background-color: #F4F3F1;
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sexto .secao h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 200px;
    margin-bottom: 20px;
}

.sexto p{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 15px;
}

.sexto .secao2{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.sexto .secao2 .img{
    border-radius: 50%;
    width: 150px;
}

.sexto .secao2 p{
    font-size: 1.1rem;
}

/*============SETIMO SECAO============*/

.setimo{
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../imagem/background1.2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: top right;
    display: flex;
    align-items: center;
}

.setimo .secao{
    border: 2px solid black;
    height: 100%;
}

.setimo .secao h1{
    font-size: 3.5rem;
    padding: 0;
    padding: 50px;
    text-align: left;
}
.setimo .secao p{
    font-size: 2rem;
    padding: 0px 50px 50px 50px;
}


/*============SETIMO SECAO============*/

.oitavo{
    max-width: 1280px;
    margin: 0 auto;
    background: #333333;
    height: 20vh;
}

.oitavo .secao{
    padding-top: 60px;
    text-align: center;

}

.oitavo .secao a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/*============ RESPONSIVIDADE ============*/




 @media (max-width: 1130px){ 
    
    .primeiro{
        display: grid;
        justify-content: end;
        align-content: center;
    }
    .primeiro .secao-se h1{
       font-size: 3rem;
    }

    .terceiro img{
        width: 250px;
        height: 300px;
    }

    .terceiro .secao3{
        width: 260px;
        height: 250px;
    }

    .terceiro .secao3 p {
        font-size: 2.5rem;
    }

    .quarto-flex .secao-2, .secao-3, .secao-4{
        width: 300px;
        margin-right: 25px;
        padding: 30px 20px;
    }
    
    .quarto h1{
        text-align: center;
        padding-bottom: 80px;
        font-size: 2.2rem;
    }

   
}

@media (max-width: 882px){ 
    /* <<<<<< SEGUNDO >>>>> */
    .secao{
        align-content: center;
    }
    .segundo .secao2, .secao3{
        font-size: 1.2rem;
        line-height: 1.2;
    
    }

    .segundo .secao{
        border: 2px solid rgba(0, 0, 0, 0.89);
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 0;
        padding: 70px 0 0 30px;
        font-weight: bolder;
    }
    /* <<<<<< QUINTO >>>>> */
    .quinto {
        padding: 0 30px;
        flex-direction: column;
        margin: 0 auto;
    }
    .quinto .secao{
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

    /* <<<<<< SÉTIMO >>>>> */
    .setimo .secao{
        border: 2px solid black;
        height: 100%;
        padding: 0;
    }
    
    .setimo .secao h1{
        font-size: 3rem;
        text-align: left;
    }
    

}  

@media(max-width: 778px){

    .segundo{
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-left: 20px;
    }
    .segundo .secao, .secao3{
        width: 100%;
        margin-bottom: 30px;
    }

   .segundo .secao2{
        width: 100%;
        margin-bottom: 40px;
   }

   .segundo .secao{
       padding: 40px 20px;
   }


   /*==========TERCEIRO-SECAO=========*/
    .terceiro{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
    } 

    .terceiro .secao-img {
        width: 100%;
        max-width: 500px;
        margin-top: 10px;
    }

    .terceiro .p {
        width: 100%;
        max-width: 500px;
        border: 3px solid black;
        height: 100%;
        padding: 0;
        padding-left: 10px; 
    }  
    .terceiro p{
        width: 100%;
        font-size: 1.8rem;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-left: 0px; 
    } 

    /*==========QUARTO-SECAO=========*/
    .quarto-flex{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        
    }

    .quarto-flex .secao-2, .secao-3, .secao-4{
        width: 100%;
        max-width: 500px;
        border: 1.5px solid rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        box-shadow: -15px 15px 20px #EDD7CC;
        padding: 20px 20px;
        margin-right: 0;
    } 
    
}

@media(max-width:414px){

    .topo{
        flex-direction: column;
        align-items: center;
    }
    .logo, .menu{
        font-size: 2rem;
        padding: 15px;
    }

    .primeiro .secao-se{
        padding: 20px 20px 20px 30px;
    }
    .primeiro .secao-se h1 {
        font-size: 42px;
    }

    .primeiro .secao-se p{
        font-size: 32px;
    }

    @media(max-width: 375px){

        .quinto .secao h1{
            font-size: 1.8rem;
        }
    }
}